---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome to my blog</h1>
			<p>
				A warm welcome to my blog! This blog is part of my homework for CSE134B at UC San Diego. You can find my
				personal portfolio <a href="https://moritzschmitzhw4.netlify.app/">here</a>
			</p>
			<p>Here are a few ideas on how to get started with the template:</p>
			
		</main>
		<Footer />
	</body>
</html>
